<div class='row my-3'>
  <div class='col-12'>
    <div class='card event-card-shadow'>
      <div class='card-block'>
        <p class='card-text blockquote'>
          <%= comment.body %>
          <br />
          <span class='blockquote-footer'><%= comment.created_at.strftime("%I:%M %p") %></span>
        </p>
      </div>
    </div>
  </div>
</div>