
<div class='row mt-3'>
  <div class='col-md-12'>
    <div class='card event-card-shadow'>
      <div class='card-block'>
          <h2 class='text-center'>Comments</h2>
          <% if logged_in? %>
            <%= form_for([context, Comment.new], remote: true) do |f| %>
              <div class="form-group">
                <%= f.hidden_field(:user_id, :value => current_user.id) %>
                <%= f.text_area :body, class: "form-control", rows: 10, id: 'comment_box', placeholder: "Share something great!" %>
              </div>
              <%= f.submit class: "btn btn-primary" %>
            <% end %>
          <% else %>
          <textarea class='form-control' readonly placeholder="You need to Login in order to leave a comment."></textarea>
          <% end %>
      </div>
    </div>
  </div>
</div>

