<div class='header-img'></div>
<div class='card card-block main-raised'>
  <%= image_tag(@user.profile_pic, class: 'img-fluid d-block mx-auto img-raised') %>


  <div class='raised-content'>
    <h3 class='card-title text-xs-center'><%= @user.name %></h3>
    <div class='row mt-2'>
      <div class='col-md-2 offset-md-2 text-xs-center card card-block card-callout'>
        <h3><%= @user.attendees.count %></h3>
        Events Attending
      </div>
      <div class='col-md-2 offset-md-1 text-xs-center card card-block card-callout'>
        <h3><%= @user.contributions.count %></h3>
        Contributions
      </div>
      <div class='col-md-2 offset-md-1 text-xs-center card card-block card-callout'>
        <h3>$10,000</h3>
        Funds Raised
      </div>
    </div>
  <div>
</div>