<nav class='navbar navbar-inverse bg-inverse w  fixed-bottom '>
  <div class='row'>
    <div class='col-8 text-center offset-2'>
      <%= link_to "Contact Us", about_path, class: 'footer-link' %> | <%= link_to "Privacy Policy", privacy_path, class: 'footer-link' %> | <a href='cms.twiggystudios.com' class='footer-link'><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Neurofibromatosis Network</a>
    </div>
  </div>
</nav>