<nav class='navbar navbar-inverse bg-inverse w'>
  <div class='row'>
    <div class='col-8 text-center offset-2'>
      Contact Us | Privacy Policy | <i class="fa fa-copyright" aria-hidden="true"></i> 2017 Neurofibromatosis Network
    </div>
  </div>
</nav>