<%= render 'shared/title', title: "#{@event.name} Registration", display: 4 %>


<% if params[:category] == 'personal' || @attendee.category == 'Personal' %>
<%= render 'personal_form' %>
<% else %>
<%= render 'corporate_form' %>
<% end %>

<div class='row'>
  <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 my-2'>
    <div class='card card-block'>
      <h4>Event Waiver</h4>
      <p>I agree, for myself, my heirs, executors and administrators, to not sue and to release, 
      indemnify and hold harmless the Neurofibromatosis Network, its affiliates, officers, directors, 
      volunteers and employees, and all sponsoring businesses and organizations and their agents and 
      employees, from any and all liability, claims, demands and causes of action whatsoever, arising 
      out of my participation in this event, including pre-and post-event activities, whether it results 
      from the negligence of any of the above or from any other cause. I attest and verify that I am 
      sufficiently physically fit to participate in this event, and that I have no medical condition 
      that prevents me from safely participating herein. I understand that the Neurofibromatosis Network, 
      its sponsors, and/or news organizations will be photographing and videotaping this event. I agree 
      that any photographs, videotapes or other images containing my likeness are the sole property of 
      the photographer and the Neurofibromatosis Network.  I authorize the foregoing accounts, for 
      publicity, in promotional material, and for any other lawful purpose.</p>
    </div>
  </div>
</div>