/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

body {
    background-color:#E9EBEE;
    height:100%;
}

.nf-nav {
  background-color: #015F88;
}

.item-square {
    border-radius:0px;
}

.card-img-top {
  max-height: 145px;
}

.cover-img-block {
  min-height: 55vh;
  position: relative;
}

.event-card-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
  0 3px 1px -2px rgba(0, 0, 0, 0.2), 
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.callout {
  color:white; 
  background-color:#39BDBD; 
  border-radius:0px;
}
.callout h2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.event-header {
  background-color: black;
  color: white;
}

.social-icon {
    -webkit-transition: all .5s;
    transition: all .2s;
}

.social-icon:hover {
    transform: scale(1.3, 1.3);
    opacity: .8;
}

.primary-pledge-card {
  position: relative;
}