/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";


body {
    background-color:#E9EBEE;
    height: 100%;
    margin-top: 55px;
}

.nf-nav {
  background-color: #015F88;
}

.item-square {
    border-radius:0px;
}

.card-img-top {
  max-height: 145px;
}

.cover-img-block {
  min-height: 55vh;
  position: relative;
}

.event-card-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
  0 3px 1px -2px rgba(0, 0, 0, 0.2), 
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.callout {
  color:white; 
  background-color:#39BDBD; 
  border-radius:0px;
}
.callout h2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.event-header {
  background-color: black;
  color: white;
}

.social-icon {
    -webkit-transition: all .5s;
    transition: all .2s;
}

.social-icon:hover {
    transform: scale(1.3, 1.3);
    opacity: .8;
}

.primary-pledge-card {
  position: relative;
}

.card-rel {
    display: inline-block;
    position: relative;
    width: 100%;
    color: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-rel .header {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin: 15px;
  border-radius: 3px;
  padding: 20px 0;
  background: linear-gradient(60deg, #ab47bc, #7b1fa2);
  //background: linear-gradient(45deg, rgba(124,227,250,1) 0%, rgba(53,206,252,1) 30%, rgba(53,176,252,1) 100%);
  color: white;
  margin-top: -40px;
}

.text-divide {
    margin-top: 2rem;
}

.input-group-addon:not(:last-child) {
    min-width: 45px;
}

.card-rel .header-primary {
   background: linear-gradient(45deg, rgba(124,227,250,1) 0%, rgba(53,206,252,1) 30%, rgba(53,176,252,1) 100%);
}

.card-rel .header-success {
    background: linear-gradient(45deg, rgba(149,211,179,1) 0%, rgba(73,188,115,1) 100%);
}

.card-rel .header-warning {
    background: linear-gradient(45deg, rgba(255,191,131,1) 0%, rgba(255,132,25,1) 100%);
}

.card-rel .nav-pills .active, .card-rel .nav-pills .active:focus, .card-rel .nav-pills li a:hover, .card-rel .nav-pills .active:hover {
    background-color: rgba(0,0,0,.1);
    color: white;
}
.card-rel .nav-pills .nav-link {
    color: white;
}

.w {
    color:white;
}

#sidebar {
    margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px; 
  overflow: hidden;
}

.card-link {
  text-decoration: none;
  color: #ccc;
  text-align: center;
  transition: all .5s ease;
}

.card-link .card {
  min-height: 95%; 
  border: 3px #ccc dashed;
}

.card-link .card h1 {
  margin-top: 40%;
}

.card-link:hover {
  color: #000;
}

.social-icon {
    -webkit-transition: all .5s;
    transition: all .2s;
}

.social-icon:hover {
    transform: scale(1.3, 1.3);
    opacity: .8;
}

.img-tilt-l, .img-tilt-r, .img-raise {
  transition: all .75s;
}

.img-tilt-l:hover
{
        -webkit-transform: rotateZ(-5deg);
        -ms-transform: rotateZ(-5deg);
        transform: rotateZ(-5deg);
}

.img-tilt-r:hover
{
        -webkit-transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        transform: rotateZ(5deg);
}

.img-raise:hover {
  transform: translate(0,-10px);
  -webkit-transform: translate(0,-10px);
  -o-transform: translate(0,-10px); 
  -moz-transform: translate(0,-10px);
}
 

.shadow {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.anchor-styled {
   color: #636C72;
   transition: all 0.5s;
  cursor: pointer;
   
}

.anchor-styled span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.anchor-styled span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.anchor-styled:hover span {
  padding-right: 25px;
  color: #636C72;
}

.anchor-styled:hover span:after {
  opacity: 1;
  right: 0;
}

.banner-image {
  background-image: image_url('walk-wide.jpg'); 
  height: 550px; 
  background-size: 100% 100%; 
  background-position: center;
  position: relative;
}

.success {
  color: #5CB85C;
}