<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <%= image_tag('logo.jpg') %>
      </div>
    </div>    
  </div>
  
    
    <h1>Hi, <%= @application.name %></h1>
    <h1>Thank you for your interest in starting an NF event in , <%= @application.city %></h1>
    <p>
      A member of our staff will be reaching out to you shortly with more details
    <br>
    </p>
    <p>
  </body>
</html>

